.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  
  h1{
    color: darkblue;
    font-size: 300%;
  }
  
  p{
    text-indent: 20px;
    margin-left: 10px;
  }
  